<html>
  {% extends 'bootstrap/base.html' %}
  {% block content %}
  <body>
    <div class="container">
      <div> <h3 class="lead text-center">Users</h3></div>
      <ul class="list-group">
        {% for user in users %}
            <li class="list-group-item">
              <p class="text-justify lead">{{ user.name }}</p>
              <hr/>
              <div class="">
                  <a class="btn btn-primary" href="{{ url_for('unique', id=user.id) }}">
                      Detalhes
                  </a>
              </div>
            </li>
            <hr/>
        {% endfor %}
      </ul>
    </div>

  </body>
  {% endblock %}
</html>
